In [1]:
import numpy as np

## DataTypes & Attributes

In [2]:
# NumPy's main datatype is ndarray
a1 = np.array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [17]:
a2 = np.array([[1, 2, 3.3],
               [4, 5, 6.5]])

a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
              [[10, 11, 12],
               [13, 14, 15],
               [16, 17, 18]]])

In [18]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [6]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [7]:
a1.shape

(3,)

In [8]:
a2.shape

(2, 3)

In [9]:
a3.shape

(2, 3, 3)

In [11]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [12]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [13]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [14]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [19]:
# Create a DataFrame from NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## Creating NumPy array

In [20]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [21]:
sample_array.dtype

dtype('int64')

In [24]:
ones = np.ones((2, 3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [25]:
ones.dtype

dtype('float64')

In [26]:
type(ones)

numpy.ndarray

In [28]:
zeros = np.zeros((2, 3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [29]:
zeros.dtype

dtype('float64')

In [30]:
range_array = np.arange(0, 10, 2) # ([start], [stop], [step])
range_array

array([0, 2, 4, 6, 8])

In [32]:
random_array = np.random.randint(0, 10, size=(3, 5)) #([low], [high], [size :(rows, columns)])
random_array

array([[0, 8, 2, 4, 2],
       [8, 6, 0, 8, 3],
       [2, 3, 3, 9, 8]])

In [33]:
random_array.size

15

In [34]:
random_array.shape

(3, 5)

In [36]:
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.46545803, 0.56236135, 0.00348918],
       [0.70575585, 0.77769987, 0.03244463],
       [0.2525331 , 0.91783575, 0.49151342],
       [0.93735627, 0.54586446, 0.13443211],
       [0.48736839, 0.45216832, 0.40215877]])

In [37]:
random_array_2.shape

(5, 3)

In [39]:
random_array_3 = np.random.rand(5, 3)
random_array_3

array([[0.35487202, 0.08754457, 0.41434634],
       [0.85702993, 0.92298397, 0.07099407],
       [0.79040183, 0.30141006, 0.46442111],
       [0.11649415, 0.33809134, 0.86376777],
       [0.35713694, 0.12780211, 0.33209512]])

In [42]:
# Pseudo-random numbers
np.random.seed(seed = 0) # to lock the random numbers into the array
random_array_4 = np.random.randint(10, size=(5, 3))
random_array_4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [45]:
random_array_4.shape

(5, 3)

In [46]:
np.random.seed(seed = 7)
random_array_5 = np.random.random((5, 3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

## Viewing Arrays and Matrices

In [47]:
np.unique(random_array_4)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [48]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [49]:
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [51]:
a4 = np.random.randint(10, size = (2, 3, 4, 5))
a4

array([[[[0, 5, 3, 0, 5],
         [7, 1, 8, 4, 9],
         [0, 2, 0, 7, 6],
         [2, 9, 9, 5, 1]],

        [[0, 0, 9, 1, 1],
         [5, 3, 2, 0, 4],
         [8, 7, 1, 4, 9],
         [3, 6, 7, 1, 0]],

        [[2, 7, 0, 0, 9],
         [8, 2, 0, 5, 5],
         [0, 9, 0, 8, 4],
         [5, 1, 4, 0, 7]]],


       [[[2, 0, 3, 9, 8],
         [3, 7, 1, 0, 1],
         [4, 6, 1, 0, 1],
         [0, 1, 8, 4, 1]],

        [[6, 8, 5, 2, 4],
         [7, 4, 1, 2, 8],
         [5, 2, 9, 6, 2],
         [5, 7, 7, 5, 5]],

        [[6, 0, 6, 4, 6],
         [2, 6, 8, 7, 0],
         [5, 8, 9, 7, 7],
         [6, 2, 5, 6, 1]]]])

In [53]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [55]:
# Get the first 4 numbers of the inner most arrays
a4[:, :, :, :1]

array([[[[0],
         [7],
         [0],
         [2]],

        [[0],
         [5],
         [8],
         [3]],

        [[2],
         [8],
         [0],
         [5]]],


       [[[2],
         [3],
         [4],
         [0]],

        [[6],
         [7],
         [5],
         [5]],

        [[6],
         [2],
         [5],
         [6]]]])

## Manipulating & comparing arrays

### Arithmetic

In [56]:
a1

array([1, 2, 3])

In [57]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [58]:
a1 + ones

array([2., 3., 4.])

In [59]:
a1 - ones

array([0., 1., 2.])

In [60]:
a1 * ones

array([1., 2., 3.])

In [63]:
a1 / ones

array([1., 2., 3.])

In [61]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [64]:
a1 * a2

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.5]])

In [66]:
a2 / a1

array([[1.        , 1.        , 1.1       ],
       [4.        , 2.5       , 2.16666667]])

In [67]:
a2 // a1 # floor division removes the decimals (rounds down)

array([[1., 1., 1.],
       [4., 2., 2.]])

In [68]:
# how can you reshape a2 to be compatible with a3?
# search : "how to reshape numpy array"

In [69]:
a2 ** 2

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [70]:
np.square(a2)

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [71]:
np.add(a1, ones)

array([2., 3., 4.])

In [72]:
a1 % 2

array([1, 0, 1])

In [73]:
a1 / 2

array([0.5, 1. , 1.5])

In [74]:
a2 % 2

array([[1. , 0. , 1.3],
       [0. , 1. , 0.5]])

In [75]:
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [76]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

### Aggregation

Aggregation = performing the same operation on a number of things

In [77]:
listy_list = [1, 2, 3]
type(listy_list)

list

In [78]:
sum(listy_list)

6